/* ==========================================================================
  Typography
========================================================================== */


html, body {
  height: 100%;
  background: #000;
}

body {
  @include fontRegular();
  font-size: $fontBase;
  color: $colorText;
  line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p, ul, ol {
  padding: 0 0 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include fontNorth();
  line-height: $lineHeightHeader;
  text-rendering: optimizeLegibility;
}

.h1, h1 {
  font-size: $fontH1;
  @include breakpoint(medium) {
    font-size: $fontH1 - 5;
  }
}

.h2, h2 {
  font-size: $fontH2;
  @include breakpoint(medium) {
    font-size: $fontH2 - 4;
  }
}

.h3, h3 {
  font-size: $fontH3;
  @include breakpoint(medium) {
    font-size: $fontH3 - 4;
  }
}

.h4, h4 {
  font-size: $fontH4;
}

h5, .h5 {
  font-size: $fontH5;
}

h6, .h6 {
  font-size: $fontH6;
}

.font-large-script {
  font-size: $fontH1*2.5;
  @include breakpoint(medium) {
    font-size: $fontH1*1.6;
  }
}

.font-large {
  font-size: $fontLarge;
}

.font-regular {
  @include fontRegular();
}

.font-script {
  @include fontNorthScript();
}

.font-north {
  @include fontNorth();
}

.small,
small {
  font-size: $fontSmall;
}

.strong,
strong {
  font-weight: bold;
}

em {
  font-family: $fontItalic;
  font-style: normal;
}

blockquote {
  color: $colorWhite;
  padding: 0;
  margin: 25px 0;
  .quote {
    padding: 10px 0 15px;
    text-transform: uppercase;
  }
  .cite {
    @include fontNorthScript();
    color: #000;
    font-size: $fontH2;
    padding: 0;
  }
}