/* ==========================================================================
  Typography
========================================================================== */

html, body, button {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  background: #000;
}

body {
  @include fontRegular();
  font-size: $fontBase;
  color: $colorText;
  line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p, ul, ol {
  padding: 0 0 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include fontNorth();
  line-height: $lineHeightHeader;
  text-rendering: optimizeLegibility;
}

.h1, h1 {
  font-size: $fontH1;
}

.h2, h2 {
  font-size: $fontH2;
}

.h3, h3 {
  font-size: $fontH3;
}

.h4, h4 {
  font-size: $fontH4;
}

h5, .h5 {
  font-size: $fontH5;
}

h6, .h6 {
  font-size: $fontH6;
}

.font-large {
  font-size: $fontH1*3;
}

.font-script {
  @include fontNorthScript();
}

.small,
small {
  font-size: $fontSmall;
}

.strong,
strong {
  font-weight: bold;
}

blockquote {
  color: $colorWhite;
  font-size: $fontLarge;
  background: url(../img/structure/line-distressed-white.png) repeat-x top center;
  padding: 0;
  margin: 25px 0;
  .quote {
    padding: 25px 0 20px;
    text-transform: uppercase;
  }
  .cite {
    @include fontNorthScript();
    color: #000;
    font-size: $fontH2;
    padding: 0;
  }
}