/* ==========================================================================
  Classes
========================================================================== */


/*==========  FLOATS/ORDER  ==========*/

.left {
  float: left;
}

.right {
  float: right;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}



/*==========  TEXT  ==========*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-yellow {
  color: $colorYellow;
}

.text-off-white {
  color: $colorWhite;
}

.text-uppercase {
  text-transform: uppercase;
}

.curved-text {
  margin-bottom: -15px;
  @include breakpoint(medium) {
    margin-bottom: -5px;
  }
}



/*==========  BORDER  ==========*/

.inline-border {
  display: block;
  width: 100%;
  text-align: right;
  position: relative;
  padding: 0;
  font-size: $fontH2;
  @include fontNorthScript();
  &:before {
    content: " ";
    display: block;
    background: url(../img/structure/line-distressed-white.png) repeat-x center center;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    z-index: 1;
  }
  span {
    background: $colorGrayXDark;
    position: relative;
    z-index: 2;
    padding-left: 15px;
    a {
      @include fontNorth();
      color: $colorWhite;
      font-size: $fontBase;
      &:hover,
      &:focus {
        color: $colorGreen;
      }
    }
  }
  .left-align {
    padding: 0 15px 0 0;
    text-align: left;
    float: left;
  }
}




/*==========  BACKGROUND  ==========*/

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: $colorGray;
}

.bg-gray-dark {
  background-color: $colorGrayXDark;
}

.bg-antlers {
  background-image: url(../img/backgrounds/antler-left.png), url(../img/backgrounds/antler-right.png);
  background-repeat: no-repeat;
  background-position: -55% 50%, 155% 50%;
}

.bg-blog {
  background-image: url(../img/backgrounds/blog-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-feather {
  background-image: url(../img/backgrounds/feather.png);
  background-repeat: no-repeat;
  background-position: center 96%;
  &.bg-texture {
    background-image: url(../img/backgrounds/texture.png), url(../img/backgrounds/feather.png);
    background-repeat: repeat, no-repeat;
    background-position: center center, center 97%;
  }
}

.bg-beat {
  background-image: url(../img/backgrounds/beat.png);
  background-repeat: repeat;
  background-position: center center;
}




/*==========  ALIGNMENT  ==========*/

.flex-v-align {
  align-items: center;
}

.flex-t-align {
  align-items: flex-start;
}

.flex-b-align {
  align-items: flex-end;
}

.flex-stretch {
  align-items: stretch;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}



/*==========  HIDE  ==========*/

.hide {
  display: none;
  visibility: hidden;
}

.tablet-hide {
  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
  }
  @include breakpoint(small) {
    display: block;
    visibility: visible;
  }
}

.mobile-hide {
  @include breakpoint(small) {
    display: none;
    visibility: hidden;
  }
}



/*==========  UTILITIES  ==========*/

.break {
  display: block;

  @include breakpoint(large) {
    display: inline;
  }
  @include breakpoint(medium) {
    display: inline;
  }
  @include breakpoint(small) {
    display: inline;
  }
}

.pull-up {
  margin-top: -70px;

  @include breakpoint(small) {
    margin-top: 0;
  }
}



