/* ==========================================================================
  Blog Excerpt
========================================================================== */


.blog-excerpt {
  background-color: $colorWhite;
  background-repeat: no-repeat;
  &.excerpt-icon-1 {
    background-image: url(../img/icons/swan-black.png);
    background-position: center 85%;
  }
  &.excerpt-icon-2 {
    background-image: url(../img/icons/inkwell-black.png);
    background-position: center 87%;
  }
  &.excerpt-icon-3 {
    background-image: url(../img/icons/pen-black.png);
    background-position: center 86%;
  }
  .img-wrap {
    padding: 10px;
    position: relative;
    height: 202px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  time {
    position: absolute;
    top: 40px;
    left: 50%;
    margin: 0 0 0 -32px;
    display: block;
    border: 1px solid $colorGray;
    background: $colorWhite;
    text-align: center;
    font-size: $fontLarge;
    @include fontNorth();
    width: 64px;
    padding: 10px 0 7px;
    line-height: 1.2;
    span {
      @include fontRegular();
      font-size: $fontH1;
      display: block;
    }
  }
  .content-wrap {
    padding: 5px 20px 80px;
    height: 310px;
    overflow: hidden;
    p {
      display: block;
    }
  }
  .border {
    background: url(../img/structure/line-distressed-black.png) repeat-x center center;
    height: 2px;
    display: block;
    width: 100%;
  }
  h3 {
    padding: 15px 0 10px;
    @include fontRegular();
    a {
      color: $colorGray;
      &:hover,
      &:focus {
        color: $colorGreen;
      }
    }
  }

  @include breakpoint(large) {
    .img-wrap {
      height: 168px;
    }
    .content-wrap {
      height: 383px;
    }
  }
  @include breakpoint(medium) {
    .img-wrap {
      height: 197px;
    }
    .content-wrap {
      height: 320px;
    }
    time {
      top: 30px;
      padding: 10px 0 5px;
    }
  }
  @include breakpoint(small) {
    .img-wrap {
      height: auto;
    }
    .content-wrap {
      height: auto;
    }
  }
}