/* ==========================================================================
  Button
========================================================================== */


.btn {
  display: inline-block;
  padding: 15px 32px 12px;
  text-align: center;
  text-decoration: none;
  outline: 0;
  background: $colorBtn;
  color: $colorWhite;
  border: 1px solid $colorBtn;
  text-transform: uppercase;
  font-size: $fontLarge;
  @include fontNorth();
  &:hover,
  &:focus {
    background: darken( $colorBtn, 15% );
    border-color: darken( $colorBtn, 15% );
    color: $colorWhite;
  }

  &.btn--primary {
    font-size: $fontLarge;
    padding: 13px 42px 12px;
  }
  &.btn--secondary {
    font-size: $fontSmall;
  }

  &.btn--block {
    display: block;
    padding-right: 0;
    padding-left: 0;
  }
  &.btn--min-width {
    min-width: 300px;
  }
}