/* ==========================================================================
  Icons
========================================================================== */


.icon {
  display: inline-block;
}

.icon-circle-scene {
  background: url(../img/icons/circle-scene-black.png) no-repeat center center;
  width: 90px;
  height: 89px;
}

.icon-coffee-black {
  background: url(../img/icons/coffee-black.png) no-repeat center center;
  width: 43px;
  height: 83px;
}

.icon-inkwell-black {
  background: url(../img/icons/inkwell-black.png) no-repeat center center;
  width: 56px;
  height: 71px;
}

.icon-pen-black {
  background: url(../img/icons/pen-black.png) no-repeat center center;
  width: 97px;
  height: 59px;
}

.icon-swan-black {
  background: url(../img/icons/swan-black.png) no-repeat center center;
  width: 67px;
  height: 53px;
}

.icon-swan-white {
  background: url(../img/icons/swan-white.png) no-repeat center center;
  width: 67px;
  height: 53px;
}

.icon-tree-black {
  background: url(../img/icons/tree-black.png) no-repeat center center;
  width: 31px;
  height: 55px;
}

.icon-trees-three-green {
  background: url(../img/icons/trees-three-green.png) no-repeat center center;
  width: 98px;
  height: 60px;
}

.icon-woman-profile-black {
  background: url(../img/icons/woman-profile-black.png) no-repeat center center;
  width: 69px;
  height: 68px;
}

.icon-x {
  background: url(../img/icons/x.png) no-repeat center center;
  width: 18px;
  height: 20px;
}


