/* ==========================================================================
  Info Box
========================================================================== */


.info-box {
  @include clearfix();
  display: flex;
  align-items: stretch;
  .left {
    width: 70%;
    background: $colorGray url(../img/backgrounds/feathers-three.png) center center;
    color: $colorWhite;
    .content-wrap {
      padding: 25px 60px;
    }
  }
  .right {
    width: 30%;
    background: $colorGreenDark;
  }
  .top {
    background: #fffcf6;
  }
  .bottom {
    background: $colorGreenDark;
    h4 {
      color: $colorYellow;
      padding: 0;
    }
    .icon-coffee-green {
      position: relative;
      bottom: -10px;
    }
  }
  h4 {
    text-align: center;
    padding: 0 0 12px;
  }
  .content-wrap {
    padding: 25px 20px;
    p {
      line-height: 1.3;
    }
  }

  @include breakpoint(medium) {
    .left {
      width: 60%;
      .content-wrap {
        padding: 15px 20px;
      }
    }
    .right {
      width: 40%;
    }
    h4 {
      padding: 0 0 10px;
    }
    .content-wrap {
      padding: 15px 20px;
    }
  }
  @include breakpoint(small) {
    display: block;
    .left,
    .right {
      float: none;
      width: 100%;
    }
    .left {
      .content-wrap {
        padding: 20px;
      }
    }
    .content-wrap {
      padding: 20px;
    }
  }
}