/* ==========================================================================
  Variables
========================================================================== */


/*==========  DEFINE BREAKPOINTS  ==========*/
$xSmall: 555px !default;
$small: 740px !default;
$medium: 950px !default;
$large: 1170px !default;


/*==========  SPACING  ==========*/

$padding: 30px;
$margin: 50px;


/*==========  COLORS  ==========*/

$colorGray: #313131 !default;
$colorGrayDark: #40403d !default;
$colorGrayXDark: #231f20 !default;
$colorGrayLight: #bbb !default;

$colorWhite: #f9f0e0 !default;
$colorYellow: #e2d9a1 !default;
$colorGreen: #a2c6b0 !default;
$colorGreenDark: #44513e !default;
$colorRed: #dd5445 !default;

$colorText: $colorGrayDark !default;
$colorBtn: $colorGreen !default;
$colorLink: #333 !default;


/*==========  FONTS  ==========*/

$fontSmall: 12px !default;
$fontBase: 14px  !default;
$fontLarge: 16px !default;

$fontH1: 30px !default;
$fontH2: 25px !default;
$fontH3: 22px !default;
$fontH4: 18px !default;
$fontH5: 13px !default;
$fontH6: 12px !default;

$lineHeight: 1.5 !default;
$lineHeightHeader: 1.2 !default;

$fontRegular: "Millgoudy", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontItalic: "Millgoudy-Italic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontNorth: "TrueNorth", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontNorthScript: "TrueNorth-Script", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;