/* ==========================================================================
  About Page
========================================================================== */


.about-arrow {
  position: absolute;
  left: 25px;
  top: -200px;
}

.about-arrow-right {
  right: 25px;
  left: auto;
}