/* ==========================================================================
  Blog
========================================================================== */


.blog-excerpt-list {
  background: #fffbf3 url(../img/icons/trees-three-green.png) no-repeat;
  background-position: center 98.5%;
  background-position: center calc( 100% - 20px );
  padding: $padding $padding $padding + 50;
  position: relative;

  @include breakpoint(small) {
    background-position: center calc( 100% - 60px );
    padding: 20px 20px $padding + 50;
  }
}

.blog-item {
  margin: 0 0 50px;
  .single & {
    margin: 0 0 10px;
  }
  img {
    margin: 0 0 20px;
    width: 100%;
  }
  h3 {
    @include fontNorth();
    padding: 0 0 10px;
    text-align: center;
  }
}

.blog-meta {
  @include fontNorthScript();
  font-size: $fontH4;
  display: block;
  border-top: 1px solid $colorGrayLight;
  border-bottom: 1px solid $colorGrayLight;
  padding: 7px 0 4px 0;
  margin: 0 0 20px;
  li {
    display: inline-block;
    line-height: 0.6;
  }
  > li {
    margin: 0 6px 0 0;
    padding: 0 8px 0 0;
    border-right: 1px solid $colorGray;
    &:last-of-type {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
  a {
    color: $colorRed;
    font-size: $fontBase;
    &:not(.comments) {
      @include fontNorth();
    }
    &:hover,
    &:focus {
      color: $colorGray;
    }
  }
  .comments {
    @include fontNorthScript();
    font-size: $fontH4 + 3;
    text-transform: lowercase;
    color: $colorGrayXDark;
    &:hover,
    &:focus {
      color: $colorRed;
    }
  }
  .font-north {
    font-size: $fontBase;
    color: $colorRed;
  }
  .font-regular {
    color: $colorGray;
    @include fontRegular();
    font-size: $fontBase;
  }
  span {
    padding: 0 2px;
  }

  @include breakpoint(small) {
    padding: 12px 0 10px;
    > li {
      display: block;
      border: none;
      padding: 0 0 10px;
      line-height: 1.1;
    }
  }
}

.post-categories {
  display: inline-block;
  li {
    margin: 0 5px 0 0;
  }
}