/* ==========================================================================
  Footer
========================================================================== */


footer {
  padding: 50px 0;
  background: #000;
  animation: fadeIn 0.3s 0.5s both;
  .nav-social {
    color: $colorYellow;
    @include fontNorthScript();
    text-transform: lowercase;
    font-size: $fontH2;
    float: left;
    padding-top: 5px;
    li {
      margin: 0 10px 0 0;
    }
    a {
      @include fontNorth();
      color: $colorWhite;
      font-size: $fontBase;
      margin-left: 5px;
      &:hover,
      &:focus {
        color: $colorGreen;
      }
    }
  }

  @include breakpoint(medium) {
    padding: 30px 0 50px;
  }
}

.form-newsletter {
  float: right;
  text-align: right;
  position: relative;
  bottom: -10px;
  @include fontNorth();
  label {
    color: $colorYellow;
  }
  input {
    &[type=email],
    &[type=text] {
      @include fontNorthScript();
      color: $colorYellow;
      outline: 0;
      border: none;
      background: none;
      background: url(../img/structure/line-distressed-white.png) no-repeat bottom center;
      padding: 0 15px 3px;
      position: relative;
      top: -12px;
      font-size: $fontH3;
      @include placeholder($colorYellow);
      min-width: 250px;
      margin: 0 0 0 7px;
    }
    &[type=submit] {
      outline: 0;
      border: none;
      background: none;
      color: $colorWhite;
      @include fontNorth();
      transition: color 0.14s ease-in-out;
      &:hover,
      &:focus {
        color: $colorGreen;
      }
    }
  }

  @include breakpoint(medium) {
    display: block;
    float: left;
    text-align: left;
    padding-top: 35px;
    bottom: auto;
    width: 100%;
  }
  @include breakpoint(small) {
    label {
      display: block;
      padding: 0 0 10px;
    }
    input {
      &[type=email],
      &[type=text] {
        min-width: 120px;
        padding: 0 10px 3px;
        margin: 0;
        top: auto;
      }
      &[type=submit] {
        position: relative;
        bottom: -8px;
      }
    }
  }
}